{% load static %}
<!DOCTYPE html>
<html lang="en" class="w-100 h-100">
<head>
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="w-100 h-100">
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding: 5px 30px;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">FakeCSV</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Schemas</a>
                </li>
            </ul>
            <span class="navbar-text">
                Hello, <span style="font-weight: 700;">{{ request.user.username }}</span>
                <a href="{% url 'logout' %}">Logout</a>
            </span>
        </div>
    </div>
</nav>
<div id="main w-100" style="padding: 5px 42px;">
    {% block content %}
    {% endblock %}
</div>
</body>
<script src="{% static 'vendor/js/jquery.min.js' %}"></script>
<script src="{% static 'vendor/js/popper.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
{% block script %}
{%  endblock %}
</html>